<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>recharge</display-name>
	<servlet>
		<description>
		</description>
		<display-name>Loginadmin</display-name>
		<servlet-name>Loginadmin</servlet-name>
		<servlet-class>Loginadmin</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Loginadmin</servlet-name>
		<url-pattern>/Loginadmin</url-pattern>
	</servlet-mapping>
	<servlet>
		<description>
		</description>
		<display-name>RegisterAdmin</display-name>
		<servlet-name>RegisterAdmin</servlet-name>
		<servlet-class>RegisterAdmin</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RegisterAdmin</servlet-name>
		<url-pattern>/RegisterAdmin</url-pattern>
	</servlet-mapping>
	<servlet>
		<description>
		</description>
		<display-name>RegisterShopkeeper</display-name>
		<servlet-name>RegisterShopkeeper</servlet-name>
		<servlet-class>RegisterShopkeeper</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Loginshopkeeper</display-name>
		<servlet-name>Loginshopkeeper</servlet-name>
		<servlet-class>Loginshopkeeper</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Recharge</display-name>
		<servlet-name>Recharge</servlet-name>
		<servlet-class>Recharge</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Recharge1</display-name>
		<servlet-name>Recharge1</servlet-name>
		<servlet-class>Recharge1</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RegisterShopkeeper</servlet-name>
		<url-pattern>/RegisterShopkeeper</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Loginshopkeeper</servlet-name>
		<url-pattern>/Loginshopkeeper</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Recharge</servlet-name>
		<url-pattern>/Recharge</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Recharge1</servlet-name>
		<url-pattern>/Recharge1</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>
